@model BookViewModel;

@{
    ViewData["Title"] = "A Book";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title </h1>
    @if(string.IsNullOrEmpty(Model.CoverPhotoUrl))
    {
        <p>No Cover Photo Set</p>
    }
    else
    {
        <img src="@Model.CoverPhotoUrl" alt=@Model.Title>
    }

    <p>@Model.Author</p>

    @if(string.IsNullOrEmpty(Model.Blurb))
    {
        <p>No Description Available</p>
    }
    else
    {
        <p>@Model.Blurb</p>
    }

    @if(string.IsNullOrEmpty(Model.Genre))
    {
        <p>No Genre Available</p>
    }
    else
    {
        <p>@Model.Genre</p>
    }
    @if(string.IsNullOrEmpty(Model.YearPublished.ToString()))
    {
        <p>No Description Available</p>
    }
    else
    {
        <p>@Model.YearPublished.ToString()</p>
    }
</div>
