@model BookViewModel;

@{
    ViewData["Title"] = "A Book";
}

<div class="row">
    <div class="col">
        @if(string.IsNullOrEmpty(Model.CoverPhotoUrl))
        {
            <p>No Cover Photo Set</p>
        }
        else
        {
            <img 
                src="@Model.CoverPhotoUrl"
                alt=@Model.Title 
                style="width: 100%; max-height: 80vh; object-fit: contain;">
        }
    </div>
    <div class="col">
        <h1 class="display-4">@Model.Title </h1>
        <div style="width: 100%;">
            @foreach( var author in Model.Authors )
            {
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img 
                                src="@author.PhotoUrl"
                                alt=@author.Name 
                                class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div style="margin-left: 1rem; height: 100%; display: flex; flex-direction: column; justify-content: center; ">
                                <p class="h4">@author.Name</p>
                                <a 
                                    asp-controller="Author" 
                                    asp-action="Author"
                                    asp-route-authorid="@author.Id">
                                        More from this author
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            }  
        </div>

        @if(string.IsNullOrEmpty(Model.Blurb))
        {
            <p>No Description Available</p>
        }
        else
        {
            <p>@Model.Blurb</p>
        }

        @if(string.IsNullOrEmpty(Model.Genre))
        {
            <p>No Genre Available</p>
        }
        else
        {
            <p>@Model.Genre</p>
        }
        @if(string.IsNullOrEmpty(Model.YearPublished.ToString()))
        {
            <p>No Description Available</p>
        }
        else
        {
            <p>@Model.YearPublished.ToString()</p>
        }
        @if( Model.Copies == null)
        {
            <p>No Knowledge of Copies</p>
        }
        else
        {
            <p>Number of copies library has: @Model.Copies.ToString()</p>
        }
    </div>







</div>
