@model List<BookViewModel>;
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">List of books</h1>
    <div class="container">
        <ul class="row row-cols-4">
            @foreach( var book in Model )
            {

                <li class="col p-2" style="list-style: none;">
                    <div class="card">
                        <div class="card-body">
                            <a 
                                asp-controller="Book" 
                                asp-action="Book"
                                asp-route-isbn="@book.Isbn">
                                @book.Title
                            </a>
                        </div>
                        <img src="@book.CoverPhotoUrl" alt="@book.Title">
                        <div class="card-body">
                            <p class="card-text">
                                @foreach( var author in book.Authors )
                                {
                                    @author.Name
                                }
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
